<head>
<style>
    h1 { 
        color: black;
        font-family: arial, sans-serif; 
        font-size: 50px;
        margin-bottom: -10px;
        padding-top: 6px;
    } 

    h2 {
        color: #807e80;
        font-family: arial, sans-serif; 
    }

    body {font-family: Arial, sans-serif}

    form {
        background-image:linear-gradient(white, #ebfff7);
        border: 3px solid #77b59c;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        box-shadow: inset 0px 0px 15px #8dd9ba;
        -moz-box-shadow: inset 0px 0px 15px #8dd9ba;
        -webkit-box-shadow: inset 0px 0px 15px #8dd9ba;
        height: 700px;
        margin-bottom: 50px;
        width: 500px;
    }

    input[type=email], input[type=password] {
        border: 1px solid gray;
        box-sizing: border-box;
        display: inline-block;
        margin: 8px 0;
        padding: 12px 20px;
        text-align: center;
        font-size: 12.5px;
        width: 90%;
    }

    .background {
        background-image: url("images/villagers-whitebackground.jpg");
        background-position: center center;
        background-repeat: repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }

    .container {
        margin-top: 1px;
        padding: 33px;
    }
    
    button {
        background-color: #7dc9ab;
        border: 1px solid #6cad93;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        box-shadow: -0px -1px 2px #77bfa2;
        -moz-box-shadow:-0px -1px 2px #77bfa2;
        -webkit-box-shadow:-0px -1px 2px #77bfa2;
        color: #e0fff3;
        font: arial;
        font-size: 16px;
        margin: 2px 0;
        padding: 7px 20px;
        text-align: center;
        text-transform: uppercase;
        width: 20%;
    }

    button:hover {
       background-image: linear-gradient(white, pink);
       color: gray;
    }

    .image_container {
        text-align: center;
        margin: 30px 0 100px 0;
    }

    @keyframes blink { 
        50% { border-color: #ffcd5f; } 
    }

    .blinking-border:hover {
        animation: blink .5s step-end infinite alternate;
    }

    .blinking-border {
        border: 7px solid #9ae2ff;
    }
</style>
</head>

<body>

    <div class="background">
        <div class="blinking-border">
            <center><h1>Log In</h1>
            <h2 style="font-size: 18px;">to get started or <a href="/signup" style="color: black; text-decoration: none;">SIGN UP</a></h2>

            <form action="/login" method="post">
                <div class="image_container">
                    <img src="images/login-img.png" alt="login-image" style="width: 350px;">
                </div>

                <div class="container">
                    <input type="email" placeholder="Email" name="email" required><br>
                    <input type="password" placeholder="Password" name="password" required>

                    <br><br><button type="submit"><b>Login</b></button>
                </div>
            </form></center>
        </div>
    </div>
</body>