<link rel="stylesheet" href="stylesheets/login.css">


<body>

    <div class="background" style="background-image: url('images/tent-hall-background.jpeg');">
        <div class="blinking-border">
            <center><div class ="title">Friend Crossing</div>

            <form action="/login" method="post">
                <h1>Log In</h1>
                <h2 style="font-size: 18px;">to get started or <a href="/signup" style="color: #ffc105; text-decoration: none;">SIGN UP</a></h2>
                <div class="image_container">
                    <img src="images/boy-avatar.png" alt="login-image" style="width: 325px;">
                </div>

                <div class="container">
                    <input type="email" placeholder="Email" name="email" required><br>
                    <input type="password" placeholder="Password" name="password" required>

                    <br><br><button type="submit"><b>Login</b></button>
                </div>
            </form></center>
        </div>
    </div>
</body>