<link rel="stylesheet" href="/stylesheets/create.css">

<body>

    <div class="background">
        <div class="blinking-border">
            <center><h1>Create</h1>
            <h2 style="font-size: 18px;">a new villager</h2>

            <div class="flex-row">
            <button id="button1-home" class="nav-buttons"><a href="/villagers" style="color: #65a189; text-decoration:none;">home</a></button>
                <button id="button3-logout" class="nav-buttons"><a href="/logout" style="color: #65a189; text-decoration:none;">sign out</a></button>
            </div>

            <form action="/villagers" method="post">
                <div class="container">
                    * <input type="text" placeholder="name" name="name" required><br>
                    <select name="personality" class="select">
                        <option value="cranky">cranky</option>
                        <option value="jock">jock</option>
                        <option value="lazy">lazy</option>
                        <option value="normal">normal</option>
                        <option value="peppy">peppy</option>
                        <option value="sisterly">sisterly</option>
                        <option value="smug">smug</option>
                        <option value="snooty">snooty</option>
                    </select><br>
                    <select name="species" class="select">
                        <option value="alligator">alligator</option>
                        <option value="anteater">anteater</option>
                        <option value="bear">bear/cub</option>
                        <option value="bird">bird</option>
                        <option value="bull">bull</option>
                        <option value="cat">cat</option>
                        <option value="chicken">chicken</option>
                        <option value="cow">cow</option>
                        <option value="deer">deer</option>
                        <option value="dog">dog</option>
                        <option value="duck">duck</option>
                        <option value="eagle">eagle</option>
                        <oprion value="elephant">elephant</option>
                        <option value="frog">frog</option>
                        <option value="goat">goat</option>
                        <option value="gorilla">gorilla</option>
                        <option value="hamster">hamster</option>
                        <option value="hippo">hippo</option>
                        <option value="horse">horse</option>
                        <option value="kangaroo">kangaroo</option>
                        <option value="koala">koala</option>
                        <option value="lion">lion</option>
                        <option value="monkey">monkey</option>
                        <option value="mouse">mouse</option>
                        <option value="octopus">octopus</option>
                        <option value="ostrich">ostrich</option>
                        <option value="penguin">penguin</option>
                        <option value="pig">pig</option>
                        <option value="rabbit">rabbit</option>
                        <option value="rhino">rhino</option>
                        <option value="sheep">sheep</option>
                        <option value="squirrel">squirrel</option>
                        <option value="tiger">tiger</option>
                        <option value="wolf">wolf</option>
                        <option value="other">other</option>
                    </select><br>
                    <input type="text" placeholder="birthday" name="birthday"><br>
                    <input type="text" placeholder="catchphrase" name="catchphrase"><br>
                    <input type="text" placeholder="status" name="status"><br>

                    <button type="submit"><b>Create</b></button>
                </div>
            </form></center>
        </div>
    </div>
</body>