<link rel="stylesheet" href="/stylesheets/welcome_page.css">

<body>

    <div class="background" style="background-image: url('images/spring-background.jpeg');">
        <div class="blinking-border">
            <center><div class= content-container>
                <h1>Friend Crossing</h1>
                <h2 style="font-size: 18px;">go ahead, finesse your friends</h2>

                <div class="flex-row">
                    <button id="button1-signup" class="nav-buttons"><a href="/signup" style="color: #fff; text-decoration:none;">sign up</a></button>
                    <button id="button2-logout" class="nav-buttons"><a href="/login" style="color: #fff; text-decoration:none;">log in</a></button>
                </div>

                <h3>for mama</h3>
            </div></center>
        </div>
    </div>
</body>