<!DOCTYPE html>
<html lang="en">

    <head>
        <style>
        .title { 
            color: #ffc105;
            font-family: arial black, sans-serif; 
            font-size: 60px;
            margin-top: 10px;
            margin-bottom: 20px;
            padding-top: 6px;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;   
        } 

        .title2 { 
            color: #4ECACB;
            font-family: arial black, sans-serif; 
            font-size: 30px;
            margin-top: 55px;
            padding-top: 6px;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;   
        } 

        .title3 { 
            color: #4ECACB;
            font-family: arial black, sans-serif; 
            font-size: 30px;
            margin-top: 10px;
            padding-top: 6px;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;   
        } 

        .background {
            background-position: center center;
            background-repeat: repeat;
            background-size: cover;
            width: 100%;
        }

        .container {
            margin-top: 1px;
            padding: 33px;
        }
        </style>
        <title>Friend Crossing</title>
    </head>
    
    <body>
        <%= yield %>
    </body>
</html>