<!DOCTYPE html>
<html lang="en">

    <head>
        <style>
        .background {
            background-position: center center;
            background-repeat: repeat;
            background-size: cover;
            width: 100%;
        }

        .container {
            margin-top: 1px;
            padding: 33px;
        }
        </style>
        <title>APP_Name</title>
    </head>
    
    <body>
        <%= yield %>
    </body>
</html>